* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: sans-serif;
    text-align: center;
    color: white;
}

#container {
    margin-top: 100px;
    width: 80%;
    max-width: 400px;
    margin-inline: auto;
}

h1{
    opacity: 0.9;
    margin-top: 1rem;
    margin-bottom: 1rem;
    /*  */
    text-shadow: red -3px 0, cyan 3px 0;
}

p{
    margin-bottom: 1.5rem;
    opacity: 0.5;
}

input, button{
    display: block;
    width: 100%;
    padding: 1.4rem;
    border-radius: 0.3rem;
    font-size: 20px;
}

input{
    text-align: center;
}

button{
    margin-top: 1.2rem;
    border: none;
    background-color: blueviolet;
    color: white;
    transition: filter(2s);
}

button:hover{
    filter: brightness(1.2);
    cursor: pointer;
}

h3{
    margin-top: 1rem;
}

#resposta{
    margin-top: 2rem;
    transition: opacity 1s;
}